<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hey! Listen!</h1>
    <p class="error"><%= url %> could not be found.</p>
  </body>
  <% include footer.ejs %>
</html>
