<!DOCTYPE html>
<html>
  <head>
    <title>500</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ruh Roh.</h1>
    <p class="error"><%= error %></p>
  </body>
  <% include footer.ejs %>
</html>
