  <footer>
    <div class="attribution">
        <a href="/">is today prime?</a> //
        built by <%- twitter_link("nonrational") %> //
        inspired by <%- twitter_link("JohnDCook") %> &amp; <%- twitter_link("daniel_egan") %>
    </div>
  </footer>
