<!DOCTYPE html>
<html>
  <head>
    <title>is today prime?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class='overall'><%= overall ? "Yup." : "Nope." %></p>
    <% for (var key in results) { %>
        <p><%= key %> : <%- factor_link(results[key][0]) %> =&gt; <%= results[key][1] %></p>
    <% } %>
    <% include footer.ejs %>
  </body>
</html>
