<!DOCTYPE html>
<html>
  <head>
    <title>is today prime?</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script>
      var timezone = jstz.determine().name();
      window.location.replace("/" + timezone);
  </script>
  <noscript>
    <body>
      <p class='iono'>¯\_(ツ)_/¯<p>
      <!-- <img class="nojs" src="/images/nojs.jpg" alt="y u no javascript?" width="200" height="150"/> -->
      <h2>where in the world are you?</h2>
      <ul>
      <%
        for(var i=0; i<tzs.length; i++) {
          var tzk = tzs[i];
      %>
        <li><a href="<%= tzk %>"><%= tzk %></a></li>
      <% } %>
      </ul>
      <!-- <%- include footer.ejs %> -->
    <body>
  </noscript>

</html>
