body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 400px;
  margin: auto;
  text-align: center;
}

.overall {
    font-weight: bolder;
    font-size: 80px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    right: 0;
    font-size: 12px;
}

a {
  color: #006699;
}
